<header>
    <div class="menu-logo">
      <p class="info-prom">Precisa do produto antes do Natal? Não se preocupe! A Game Mania garante a entrega! Veja mais no <a href="html/entrega.html">link.</a></p>
        <div class="menu container">
            <div class="row">

              <!-- Menu Sandwitch dropdown  -->

               <div class="barras col">
                   <a href="" id="menu-dropdown"><img src="./assets/img/barras.png" width="40px" alt="menu barras"></a>
                   <ul id="opcoes" style="display: none;z-index:1;">
                    <li><a href="#">Playstation</a>
                      <ul>
                        <li><a href="#">Playstation 5</a></li>     
                        <li><a href="#">Playstation 4</a></li>     
                        <li><a href="#">Playstation 3</a></li>     
                        <li><a href="#">Playstation 2</a></li>     
                        <li><a href="#">Outros Consoles Playstation 5</a></li>   
                      </ul>
                    </li>
                    <li><a href="#">Xbox</a>
                      <ul>
                        <li><a href="#">Xbox Series X/S</a></li>
                        <li><a href="#">Xbox One</a></li>
                        <li><a href="#">Xbox 360</a></li>        
                      </ul>
                    </li>
                    <li><a href="#">Nintendo</a>
                      <ul>
                        <li><a href="#">Nintendo Switch</a></li>
                        <li><a href="#">Wii U</a></li>
                        <li><a href="#">Nintendo DS</a></li>
                        <li><a href="#">Outros Consoles Nintendo</a></li>
                      </ul>
                    </li>
                    <li><a href="#">PC Gamer</a>
                      <ul>
                        <li><a href="#">Intel</a></li>
                        <li><a href="#">AMD</a></li>
                        <li><a href="#">Outros Processadores</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Celulares e Tablets</a>
                      <ul>
                        <li><a href="#">Iphone</a></li>
                        <li><a href="#">Sansung</a></li>
                        <li><a href="#">Xiaomi</a></li>
                        <li><a href="#">Motorola</a></li>
                        <li><a href="#">Outras Marcas</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Acessórios</a></li>
                  </ul>
               </div>

                <!-- Header principal com logo e botões -->

               <div class="logo col-3">
                   <a href=""><img src="./assets/img/logo.png" width="180px" alt="Logo so Site"></a>
               </div>
               <div class="topnav col">
                 <div class="search-container col">
                    <form action="">
                      <input id="barra-busca" type="text" placeholder="Pesquisa" name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                 </div>
                </div>
               <div class="entrega col">
                   <a href="login"><img src="./assets/img/entrega.png" width="70px" alt="Entrega Rápida"></a>                    
               </div>
               <div class="favoritos col">
                   <a href="login"><img src="./assets/img/favoritos.png" width="50px" alt="Favoritos"></a>
               </div>
               <div class="carrinho col">
                   <a href="login"><img src="./assets/img/carrinho2.png" width="50px" alt="Carrinho de Compras"></a>
               </div>
               <div class="login col">
                   <a href="login"><img src="assets/img/Login.png" width="50px" alt="Login"></a>
               </div>
            </div>
        </div>            
    </div>

 <!-- Menu do Header -->

    <section class="nav-menu">
        <nav class="container">
         <div class="row">
           <a class="natal col" href="">Natal</a>                      
           <a class="ofer col" href="">Ofertas</a>             
           <a class="nov col" href="">Novidades</a>          
           <a class="consol col" href="">Consoles</a>               
           <a class="smart col" href="">Smartphones</a>                
           <a class="jogos col" href="">Jogos</a>                
           <a class="cumpons col" href="">Cupons</a>                
           <a class="sald col" href="">Saldão</a>
          </div>          
       </nav>             
    </section>
</header>
