<section>
    <!-- Carrossel versão desktop -->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/img/jogos-ofer (1).jpg" class="d-block w-100" height="500px" alt="promoções de jogos">
                <div class="carousel-caption d-none d-md-block">
                    <a href="login" style="text-decoration: none;">
                        <h5>Melhores Lançamentos!</h5>
                        <p>Confira a nossa seleção especial dos melhores jogos para PS5.</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/img/jogos-ofer (2).jpg" class="d-block w-100" height="500px" alt="produtos apple">
                <div class="carousel-caption d-none d-md-block">
                    <a href="login" style="text-decoration: none;">
                        <h5>Apple Mania!</h5>
                        <p>Ofertas imperdíveis em produtos da Apple.</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/img/jogos-ofer (3).jpg" class="d-block w-100" height="500px" alt="Nitendo Switch">
                <div class="carousel-caption d-none d-md-block">
                    <a href="login" style="text-decoration: none;">
                        <h5>Nintendo Switch</h5>
                        <p>Abaixamos o preço do Console e temos uma oferta especial para novos clientes. Confira antes que acabe!
                        </p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/img/mario.jpg" class="d-block w-100" height="500px" alt="Jogos do Mario">
                <div class="carousel-caption d-none d-md-block">
                    <a href="login" style="text-decoration: none;">
                        <h5>Mario Edição Especial</h5>
                        <p>Novas Action Figures do Mario e cia disponíveis.</p>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="icone-next carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</section>

<!-- Submenu dos Consoles -->

<section class="secao-consoles">
    <div class="consoles container">
        <a class="play col" href="login"><img src="./assets/img/play.png" alt="Playstation"></a>
        <a class="xbox col" href="login"><img src="./assets/img/xbox.png" alt="Xbox"></a>
        <a class="pc col" href="login" style="width: 180px;"><img src="./assets/img/pc.png" alt="PC"></a>
        <a class="nitendo col" href="login"><img src="./assets/img/switch.png" alt="Nitendo Switch"></a>
        <a class="aces col" href="login"><img src="./assets/img/aces.png" alt="Acessórios"></a>
    </div>
    <nav class="menu-console container">
        <div class="row">
            <a class="playN col" href="login">Playstation 5</a>
            <a class="xboxN col" href="login">Xbox Series X|S</a>
            <a class="pcN col" href="login">PC Gamer</a>
            <a class="nitendoN col" href="login">Nintendo Switch</a>
            <a class="acesN col" href="login">Acessórios</a>
        </div>
    </nav>

    <nav class="menu-console-mobile container">
        <div class="row">
            <p class="ps5 col">PS 5</p>
            <p class="xs col">Xbox X|S</p>
            <p class="pc-mobile col">PC</p>
            <p class="switch col">Switch</p>
            <p class="mais col">Mais +</p>
        </div>
    </nav>
</section>

<!-- Promoções do Site -->

<div class="banner-prom" style="background-image: url(./assets/img/fundo-prom.png);">
    &nbsp;
    <div class="proms container">
        <div class="row">
            <div class="phone col">
                <a href="login"><img src="./assets/img/prom-redmi.png" width="380px" alt="Redmi"></a>
            </div>
            <div class="iphone col">
                <a href="login"><img src="./assets/img/prom-iphone.png" width="400px" alt="Iphone"></a>
            </div>
            <div class="lost col">
                <a href="login"><img src="./assets/img/prom-lost-planet.png" width="400px" alt="Lost Planet"></a>
            </div>
        </div>
        <div class="row">
            <div class="ryse col">
                <a href="login"><img src="./assets/img/prom-rise.png" width="420px" alt="Ryse-Filho de Roma"></a>
            </div>
            <div class="pc-amd col">
                <a href="login"><img src="./assets/img/prom-amd.png" width="420px" alt="PC Gamer AMD 6 Núcleos"></a>
            </div>
        </div>
    </div>

    <!-- Carrossel da versão Tablet -->

    <section class="carrossel-produtos-tablet" style="margin-left: 90px;margin-top: 200px;">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators" style="filter: invert(50%);margin-bottom: -150px; margin-left: 100px;">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" style="width: 700px;margin-left: 80px;">
                <div class="carousel-item active">
                    <img src="./assets/img/prom-amd.png" class="d-block w-100" alt="Pc AMD">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/prom-iphone.png" class="d-block w-100" alt="Iphone">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/prom-lost-planet.png" class="d-block w-100" alt="Lost Planet">
                </div>
                <div class="prom-redmi carousel-item">
                    <img src="./assets/img/prom-redmi.png" class="d-block w-100" alt="Redmi">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/prom-rise.png" class="d-block w-100" alt="Ryse">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="filter: invert(100%); margin-left: -100px;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="filter: invert(100%); margin-left: -550px;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
    </section>

    <!-- Carrosel da versão mobile -->

    <section class="carrossel-produtos">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators" style="filter: invert(50%); margin-bottom: -60px;">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" style="width: 600px;margin-left: 80px;">
                <div class="carousel-item active">
                    <img src="./assets/img/prom-amd.png" class="d-block w-100" alt="Pc AMD">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/prom-iphone.png" class="d-block w-100" alt="Iphone">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/prom-lost-planet.png" class="d-block w-100" alt="Lost Planet">
                </div>
                <div class="red-mi carousel-item">
                    <img src="./assets/img/prom-redmi.png" class="d-block w-100" width="200px" alt="Redmi">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/prom-rise.png" class="d-block w-100" alt="Ryse">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="filter: invert(100%);">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="filter: invert(100%); left: -650px;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
    </section>

</div>
<div class="monte-pc">
    <a href=""><img src="./assets/img/monte-pc.png" width="1520px" alt="Monte o Seu Pc com a Game Mania!"></a>
</div>