<div id="login-completo">
    <div class="banner-login" style="background-image: url(assets/img/fundo-prom.png);">
        &nbsp;
    </div>
    <section class="login-gamer">
        <form action="" method="post">
            <div class="imgcontainer">
                <img src="assets/img/avatar.png" alt="Avatar" class="avatar">
            </div>

            <div class="login-caixa container">
                <p class="uname-email"><label for="uname"><b>Email</b></label>
                    <input type="email" placeholder="Digite seu Email Aqui..." name="uname" required></p>

                <p class="psw-senha"><label for="psw"><b>Senha</b></label>
                    <input type="password" placeholder="...e sua Senha Aqui :)" name="psw" required></p>
            </div>

            <button id="login-site" class="start" type="submit" onclick="Login(event)">Start!</button>
            <button class="cadastro-btn"><a href="formulario" style="text-decoration: none;color: white;">Cadastro
          :)</a></button>
            <p class="texto-login">
                <label>
          <input type="checkbox" checked="checked" name="remember"> Lembre pra mim ;)
          <p class="socorro"><span class="psw">Socorro! Esqueci a minha <a href="">Senha!</a></span></p>
        </label></p>
            <div class="cancelbtn" container>
                <a class="botao-cancelar" href=" "><button type="button">Cancelar :(</button></a>
            </div>

        </form>
    </section>