<footer>
    <div class="faixa-footer"></div>
    <section class="redes-sociais container">
        <div class="row">
            <div class="rede col">
                <p>Redes Sociais</p>
                <a class="facebook" href="https://www.facebook.com/" target="_blank"><img src="./assets/img/facebook.png" width="80px"></a>
                <a class="insta" href="https://www.instagram.com/" target="_blank"><img src="./assets/img/instagram.png" width="65px"></a>
                <a class="youtube" href="https://www.youtube.com/" target="_blank"><img src="./assets/img/youtube.png" width="80px"></a>
                <a class="logo-foot row" href=" "><img src="./assets/img/logo.png" alt="Game Mania"></a>
            </div>

            <!-- Footer Institucional -->

            <div class="inst col">
                <div class="inst-links">
                    <p>Institucional</p>
                    <a class="row" href="">Empresa</a>
                    <a class="row" href="">Nosso Time</a>
                    <a class="row" href="">Nossa Missão</a>
                    <a class="row" href="">Carreiras</a>
                    <a class="row" href="">Como Comprar</a>
                    <a class="row" href="">Assistência Técnica</a>
                    <a class="row" href="">Devoluções e Trocas</a>
                    <a class="row" href="">Devoluções e Trocas</a>
                    <a class="row" href="">Nossos Parceiros</a>
                    <a class="row" href="">Política de Envio</a>
                    <a class="row" href="">Política de Privacidade</a>
                </div>
                <div class="ender row">
                    <p>Nossa loja está localizada na rua 25 de março no centro de São Paulo</p>
                </div>
            </div>

            <!-- Footer Atendimento -->

            <div class="atend col">
                <div class="contato">
                    <p class="contact" style="font-size: 20pt; margin-right: 150px;margin-top: -60px;">Atendimento</p>
                    <div class="contato-bloco" style="margin-top: 70px;">
                        <div class=" whats row">
                            <a href="https://api.whatsapp.com/send?phone=11112345678" target="_blank"><img src="./assets/img/whatsapp.png " width="65px " alt="Whatsapp "></a>
                            <p>(11) 1234-5678</p>
                        </div>
                        <div class="tel row ">
                            <a href="https://www.google.com/calendar/embed?src=gamemania@email.com&ctz=America/Brasilia&gsessionid=GameMania" target="_blank"><img src="./assets/img/phone.png " width="54px " alt="Telefone "></a>
                            <p>(11) 0101-01001</p>
                        </div>
                        <div class="email row ">
                            <a href="mailto:gamemania@email.con.br?subject=Olá! Venho do site da Game Mania! " target="_blank "><img src="./assets/img/email.png " width="55px " alt="Email "></a>
                            <p>gamemania@email.con.br</p>
                        </div>
                        <div class="horario ">
                            <p>Atendimento de Segunda a Sexta, das 08:00 às 17:30</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Meios de Pagamento -->

    <div class="meios-pag ">
        <div class="container ">
            <div class="row ">
                <div class="pag col-6 ">
                    <p>Formas de Pagamento</p>
                    <img src="./assets/img/meios-pag.png " alt="Meios de Pagamento ">
                </div>
                <div class="direitos col-6 ">
                    <p>© 2021 Todos os Direitos<br>Reservados a Game Mania.<br>CNPJ Fictício x1111111/111-00</p>
                </div>
            </div>
        </div>
    </div>
</footer>