<div class="banner-login" style="background-image: url(assets/img/fundo-prom.png);height: 200px;">
    &nbsp;
</div>
<div class="container">
    <div class="row">
        <div class="delivery col-5">
            <img src="assets/img/delivery.png" width="400px" alt="entrega expressa" style="margin-bottom: 20px; bottom: 30px;">
        </div>
        <div class="delivery-texto col-7" style="width: 700px; text-align: center; margin-top:-2%;">
            <h2><b>Deseja o produto no mesmo dia? Só na Game Mania!!</b></h2>
            <p>A Game Mania trabalha com uma empresa privada de logística que entrega o seu produto em até 24 horas se o pedido for feito para o estado de São Paulo. Consulte um de nossos atendentes ou entre em contato conosco em um dos nossos canais de
                comunicação para mais informações.</p>
            <div style="display:flex; justify-content:space-between; margin-top: 90px;">
                <a href="https://www.google.com/calendar/embed?src=gamemania@email.com&ctz=America/Brasilia&gsessionid=GameMania" target="_blank"><img src="assets/img/phone.png" width="90px"></a>
                <a href="mailto:gamemania@email.com?subject=Venho da Game Mania!"><img src="assets/img/email.png" width="100px"></a>
                <a href="https://api.whatsapp.com/send?phone=11112345678" target="_blank"><img src="assets/img/whatsapp.png" width="110px"></a>
            </div>
        </div>
    </div>
</div>